<br />
<br />
  <div class="offset3">
    <%= form_for(@list, :html => { :class => "well form-inline span6" }) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="input-append">
    <%= f.text_field :content, :id => "appendedInputButtons"  %>
    <%= f.submit 'Add', :class => "btn"%><br />
    Is this a week-long task? <%= f.check_box :week %>
  </div>
<% end %>
</div>
<br />
<br />
<br />
<br />
<br />
  <div class="offset3">
    <% if @lists.blank? %>
      <blockquote>
        <p>Efficiency is doing things right; effectiveness is doing the right things.</p>
        <small>Peter Drucker</small>
      </blockquote>
    <% else %>
<br />

<table>
  <tr>
    <th>Week Tasks </th>
    <th></th>
    <th></th>
  </tr>

<% @lists.each do |list| %>
  <% if list.week %>
  <tr>
    <td><%= list.content %></td>
    <td><%= link_to raw('<i class="icon-ok"></i>'), complete_list_path(list.id), method: :put, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to raw('<i class="icon-remove"></i>'), list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<table>
  <tr>
    <th>Day Tasks </th>
    <th></th>
    <th></th>
  </tr>

<% @lists.each do |list| %>
  <% unless list.complete? %>
    <% unless list.week? %>
  <tr>
    <td><%= list.content %></td>
    <td><%= link_to raw('<i class="icon-ok"></i>'), complete_list_path(list.id), method: :put, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to raw('<i class="icon-remove"></i>'), list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end %>
<% end %>
</table>

<br />

<table>
  <tr>
    <th>Completed Tasks </th>
    <th></th>
    <th></th>
  </tr>
<% @lists.each do |list| %>
  <% if list.complete? %>
  <tr>
    <td><del><%= list.content %></td></del>
    <td><%= link_to raw('<i class="icon-ok"></i>'), complete_list_path(list.id), method: :put, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to raw('<i class="icon-remove"></i>'), list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />
<br />

<%= link_to 'New List', new_list_path %>
</div>
</div>
<% end %>
