<h1>Listing lists</h1>

<table>
  <tr>
    <th>Content </th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%= list.content %></td>
    <td><%= list.week %></td>
    <td><%= link_to raw('<i class="icon-ok"></i>'), list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to raw('<i class="icon-remove"></i>'), list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List', new_list_path %>
